*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table{
  margin: 2rem;
  background: lightblue;
  border-collapse: collapse;
}

th,td{
  padding: 1rem;
  border: 1px solid white;
}

thead{
  background: rgb(0, 126, 168);
  color: white;
}

tbody th {
  font-weight: normal;
}

td{
  text-align: center;
}

.lower{
  background: blue;
  color: white;
}

.low{
  background: rgb(63, 255, 63);
}

.medium{
  background: orange;
}

.high{
  background: red;
}