*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: black;
}



body > div{
  width: 80vmin;
  height: 80vmin;


  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4px;
}

div div{
  background: gray;
}